<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="base_url" value="http://api.openweathermap.org/data/2.5/forecast"/>
    <add key="api_key" value="851c6c9314d81fda2d5ca64eb1988b24"/>
    <add key="access_key_url_mod_one" value="?id=2643743"/>
    <add key="access_key_url_mod_two" value="APPID="/>
  </appSettings>
</configuration>